<div class="container">
<div>
  <h2 class="left-align">About</h2>
</div>

<p class="flow-text">
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non enim gravida ante porta gravida at eu mi. Sed posuere,
  mi sit amet aliquam gravida, massa quam imperdiet felis, quis tincidunt felis dolor vitae sapien. Aenean gravida ipsum
  ut rutrum volutpat. Aenean sit amet fringilla eros, id imperdiet dolor. Proin bibendum nulla non neque ornare, gravida
  tincidunt odio cursus. Nunc congue purus eget blandit tincidunt. Nulla cursus tortor quis placerat maximus. Mauris eu tristique
  felis, eu fringilla risus. Proin ut nisi mi. Mauris tincidunt, magna sed sodales rutrum, augue eros accumsan dui, ac tempus
  lorem massa ac sem. Nullam iaculis scelerisque nulla sollicitudin sodales. Maecenas vehicula massa eu nulla gravida, in
  scelerisque ligula laoreet. Integer posuere nulla a rhoncus aliquet.
</p>
</div>