<div id="index-banner" class="parallax-container">
  <div class="parallax"><img src="./assets/background2.jpg" style="display:block; transform: translate3d(-50%, 365px, 0px);"></div>
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center teal-text text-lighten-2">NoteShare</h1>
      <div class="row center">
        <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet massa nibh. Donec in lacus a nibh malesuada feugiat.</h5>
      </div>
      <div class="row center">
        <a routerLink="/register" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Register</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Lorem ipsum dolor sit amet</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet massa nibh. Donec in lacus a nibh malesuada feugiat.
          Nullam tempus mi et imperdiet volutpat. Donec hendrerit turpis in consectetur fringilla.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Lorem ipsum</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet massa nibh. Donec in lacus a nibh malesuada feugiat.
          Nullam tempus mi et imperdiet volutpat. Donec hendrerit turpis in consectetur fringilla.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Lorem ipsum dolor sit amet</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet massa nibh. Donec in lacus a nibh malesuada feugiat.
          Nullam tempus mi et imperdiet volutpat. Donec hendrerit turpis in consectetur fringilla.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Lorem ipsum dolor sit amet</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="./assets/background3.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque
          tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien
          id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend
          sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed
          ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis
          in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>
  </div>
</div>