<div class="row">
  <div class="col s12 m8 offset-m2">
    <h2>
      All Notes
      <button class="right btn-floating btn-large waves-effect waves-light red" (click)="modal()" >
        <i class="material-icons">add</i>
      </button>
    </h2>
    <ul *ngIf="notes" class="collection">
      <li *ngFor="let note of notes" class="collection-item avatar">
        <i class="material-icons circle">note</i>
        <span class="title">{{ note.documentName }}</span>
        <p>
          {{ note.subject.name }} <br> Second Line
        </p>
        <a href="{{apiUrl}}uploads/{{note.fileName}}" target="_blank" class="secondary-content"><i class="material-icons">get_app</i></a>
      </li>
    </ul>
  </div>
</div>

<!-- Modal Structure -->
<div id="addNoteModal" class="modal">
  <div class="modal-content">
    <h4>Add Note</h4>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Enter a title for your note" id="document_name" type="text" class="validate">
        <label for="document_name">Title</label>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Enter the subject" id="subject" type="text" class="validate">
          <label for="subject">Subject</label>
        </div>
      </div>
        <div class="row">  
          <form action="addFile()">
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input #fileInput type="file" accept=".pdf" >
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </form>
      
  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-red red left btn">Cancel</button>
    <button class="waves-effect waves-green teal btn">Add Note</button>
  </div>
</div>