<div class="row">
  <div class="col s12 m8 offset-m2">
    <h2>
      {{ currentSubjectName }} Notes
    </h2>
    <div class="row">
      <form #f="ngForm" (ngSubmit)="search()">
          <div class="input-field col s10">
            <i class="material-icons prefix">search</i>
            <input id="searchQuery" name="searchQuery" type="search" [(ngModel)]="searchQuery" class="validate">
            <label for="searchQuery">Search</label>
          </div>
      </form>
      <div class="col s2">
        <button class="right btn-floating btn-large waves-effect waves-light red tooltipped" data-position="top" data-tooltip="Add your notes" (click)="modal()" >
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>
    <div class="row">
      <form #f="ngForm">
        <div *ngIf="subjectsWithNotes" class="col s12 m6">
          <label for="subjectFilter">Filter by subject</label>
          <select class="browser-default" name="subjectFilter" id="subjectFilter" [ngModel]="currentSubject" (ngModelChange)="subject($event)" >
            <option value="" disabled>Choose a subject</option>
            <option *ngFor="let subject of subjectsWithNotes" [ngValue]="subject">{{ subject.name }} - {{ subject.subjectId }}</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m8 offset-m2">
    <ul *ngIf="notes" class="collection">
      <li *ngFor="let note of notes" class="collection-item avatar">
        <i class="material-icons circle">note</i>
        <span class="title">{{ note.documentName }}</span>
        <p>
          {{ note.subject.subjectId }} | {{ note.subject.name }} <br> {{ note.documentType }}
        </p>
        <a href="{{apiUrl}}uploads/{{note.fileName}}" target="_blank" class="secondary-content"><i class="material-icons">get_app</i></a>
      </li>
    </ul>
  </div>
</div>

<!-- Modal Structure -->
<div id="addNoteModal" class="modal">
  <form #f="ngForm" (ngSubmit)="addNote()">
    <div class="modal-content">
      <h4>Add Note</h4>
      <div class="row">
        <div class="input-field col s12 m6">
          <input type="text" name="documentName" [(ngModel)]="model.documentName" id="documentName" required />
          <label for="documentName">Document Name</label>
          <div [hidden]="documentName.valid || documentName.pristine"
          class="alert alert-danger">
          <div [hidden]="!documentName.hasError('required')">Document Name Required</div>
          </div>
        </div>
        <div class="input-field col s12 m6">
          <input type="text" name="documentType" [(ngModel)]="model.documentType" id="documentType" required />
          <label for="documentType">Document Type</label>
        </div>
        <div *ngIf="mySubjects" class="col s12 m6">
          <label for="subject">Subject</label>
          <select class="browser-default" name="subject" id="subject" [(ngModel)]="selectedSubject" (ngModelChange)="selected($event)" >
            <option value="" disabled>Choose a subject</option>
            <option *ngFor="let subject of mySubjects" [ngValue]="subject">{{ subject.name }} - {{ subject.subjectId }}</option>
          </select>
        </div>
        <div class="input-field col s12 m6">
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file" name="documentFile" id="documentFile" #fileInput (change)="onChange($event)" required />
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="modal-action modal-close waves-effect waves-red red left btn">Cancel</button>
      <button [disabled]="!f.form.valid" class="waves-effect waves-green teal btn" type="submit">Add Note</button>
    </div>
  </form>
</div>