<div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s2">
        <img src="./assets/stefanie.jpg" alt="" class="circle responsive-img">
      </div>
      <div class="col s10">
        <span class="black-text">
              <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan fermentum suscipit. Nam id mollis lacus, eu vulputate
              felis. Ut ac interdum leo. Nulla id venenatis augue. Morbi congue tortor id condimentum ultrices. Nulla eleifend
              egestas eleifend. Suspendisse feugiat est at diam dictum rutrum. Nunc sit amet mi ex. Sed placerat diam mauris,
              non euismod massa egestas nec. Sed porta diam id purus sollicitudin vestibulum. Morbi sollicitudin elementum
              orci scelerisque rutrum. Proin laoreet posuere elit.
              </p></span>
      </div>
    </div>
  </div>
</div>

<h2>Your Subjects</h2>

<div class="row">
  <div class="col s10">
<ul class="collection">
  <li class="collection-item avatar">
    <i class="material-icons circle">note</i>
    <span class="title">Subject 1</span>
    <p>First Line <br> Second Line
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">note</i>
    <span class="title">Subject 2</span>
    <p>First Line <br> Second Line
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle green">note</i>
    <span class="title">Subject 3</span>
    <p>First Line <br> Second Line
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle red">note</i>
    <span class="title">Subject 4</span>
    <p>First Line <br> Second Line
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
</ul>
  </div>
</div>



