<div class="container spacer">
  <div class="row">
    <form class="col s12 offset-m2 m8">
      <div class="row">
        <div class="input-field col s4 m8 offset-s4 offset-m2">
          <input id="number" type="email" class="validate">
          <label for="number">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 m8 offset-s4 offset-m2">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col s4 m8 offset-s4 offset-m2">
          <a routerLink="/profile" class="waves-effect waves-light btn">Register</a>
        </div>
      </div>
    </form>
  </div>
</div>