<div class="container spacer">
  <div class="row">
    <form class="col s12 offset-m2 m8" (ngSubmit)="f.form.valid && register()" #f="ngForm">
      <div class="row">
        <div class="input-field col s12 m8 offset-m2">
          <input id="email" type="email" class="validate" name="email" [(ngModel)]="model.email" minlength="12"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
          #email="ngModel" #username="ngModel" required>
          <div [hidden]="email.valid || email.pristine"
          class="alert alert-danger">
          <div [hidden]="!email.hasError('required')">Email required</div>
          <div [hidden]="!email.hasError('pattern')">Invalid Email Format</div>
          </div>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m8 offset-m2">
          <input id="password" type="password" class="validate" name="password" [(ngModel)]="model.password" minlength="8" #password="ngModel" required>
          <label for="password">Password</label>
          <div [hidden]="password.valid || password.pristine"
          class="alert alert-danger">
          <div [hidden]="!password.hasError('required')">Password required</div>
          <div [hidden]="!password.hasError('minlength')">Password must be at least 8 characters</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m8 offset-m2">
          <button [disabled]="!f.form.valid" class="waves-effect waves-light btn" type="submit">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>